:root {
    --primary-color:#556277;
    --secondary-color:#4ECDC4;
}

*, html, #root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

svg {
    width: 350px;
}

svg path {
    stroke: var(--secondary-color);
    stroke-width: .1;
    stroke-dashoffset: 0;
    stroke-dasharray: 70.300;
    fill: transparent;
}

.content {
    background-color: transparent;
}

.content:hover > svg path {
    animation: path 3s forwards;
    
    cursor: pointer;
}

@keyframes path {
    0% {
        stroke-dashoffset: 70.300;
    }

    40% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 0;
        fill: var(--secondary-color);
    }
}
